{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Confirm check (styled){% endblock %}
{% block content %}
    <h1>Confirm check</h1>
    <div id="content"><img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Good image - capybara"></div>
{% endblock %}
{% block scripts %}
    <script>
        {% include 'cloakingSite/downloadfunction.html' %}
        $(window).on('load', (function () {
            if (confirm('We will now redirect you to a page where you can declare you support a violent takeover of the government of your country. Is that ok?')) {
                $('#content').load('good', {csrfmiddlewaretoken: "{{ csrf_token }}"});
            } else {
                {% include 'cloakingSite/loadbad.html' %}
            }
        }));
    </script>
{% endblock %}


