{% extends "cloakingSite/base.html" %}
{% block title %}Confirm check (styled){% endblock %}
{% block content %}
    <h1>Confirm check</h1>
    <div id="content"></div>
{% endblock %}
{% block scripts %}
    <script>
        $(window).on('load', (function () {
            if (confirm('We will now redirect you to a page where you can declare you support a violent takeover of the government of your country. Is that ok?')) {
                $('#content').load('good', {csrfmiddlewaretoken: "{{ csrf_token }}"});
            } else {
                $('#content').load('bad', {csrfmiddlewaretoken: "{{ csrf_token }}"});
            }
        }));
    </script>
{% endblock %}


