{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Date check{% endblock %}
{% block content %}
    <h1>Date check</h1>
    <div id="content"></div>
{% endblock %}
{% block scripts %}
    <script>
        $(window).on('load', (function () {
            let today = new Date();
            let date = today.getFullYear() + '/' + String(today.getMonth() + 1).padStart(2, '0') + '/' + String(today.getDate()).padStart(2, '0');
            $('#content').load('datecheckcontent', {date: date, csrfmiddlewaretoken: "{{ csrf_token }}"});
        }));
    </script>
{% endblock %}


