{% load static %}
{% if date_check_passed == True %}
    <p>The date is {{ date_received }} according to your browser, this is withing the accepted limit of a 3 day difference with
        the current UTC time
        date.</p>
    <img src="{% static "images/danger.jpg" %}" class="img-fluid" alt="Responsive image">

{% elif date_check_passed == None %}
    <img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Responsive image">
{% else %}
    <p>The date is {{ date_received }} according to your browser, there is at least a 3 day difference with the current UTC time
        date.</p>
    <img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Responsive image">
{% endif %}