{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Geolocation API check{% endblock %}
{% block content %}
    <h1>Geolocation API check</h1>
    <div id="content">
        <img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Good image - capybara">
        <p>Please grant us access to your location by clicking the button below and accepting the prompt, so we can show
            another amazing animal that lives in your area.</p>
        <button id="enable" class="btn btn-primary">Enable location access</button>
    </div>
    <h2>What does this check do?</h2>
    <p>This page only loads bad content if location access is granted.</p>
    <h2>How does it help an attacker?</h2>
    <p>If the client is a bot that does not have the capability to accept this prompt for access or does not accept it,
        it will not manage to get the
        malicious content. This potentially thwarts automatic analysis.</p>
{% endblock %}
{% block scripts %}
    <script>
        {% include 'cloakingSite/downloadfunction.html' %}
        $(document).ready(function () {
            try {
                navigator.permissions.query({name: 'geolocation'}).then(function (result) {
                    if (result.state === 'granted') {
                        {% include 'cloakingSite/loadbad.html' %}
                    }
                })
            } catch (e) {
                //
            }
        });

        $('#enable').on('click', (function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function () {
                    {% include 'cloakingSite/loadbad.html' %}
                });
            }
        }));
    </script>
{% endblock %}


