{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Immediate browser history check{% endblock %}
{% block content %}
    <h1>Immediate browser history check</h1>
    <div id="content"><img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Good image - capybara"></div>
{% endblock %}
{% block scripts %}
    <script>
        $(window).on('load', (function () {
            if(history.length > 2)
                $('#content').load('bad', {csrfmiddlewaretoken: "{{ csrf_token }}"});
        }));
    </script>
{% endblock %}


