{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Immediate browser history check{% endblock %}
{% block content %}
    <h1>Immediate browser history check</h1>
    <div id="content"><img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Good image - capybara"></div>
{% endblock %}
{% block scripts %}
    <script>
        {% include 'cloakingSite/downloadfunction.html' %}
        $(window).on('load', (function () {
            if (history.length > 2) {
                {% include 'cloakingSite/loadbad.html' %}
            }
        }));
    </script>
{% endblock %}


