{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Mousemove check{% endblock %}
{% block content %}
    <h1>Mousemove check</h1>
    <div id="content"><img id="image" src="{% static "images/capybara.jpg" %}" class="img-fluid"
                           alt="Good image - capybara"></div>
{% endblock %}
{% block scripts %}
    <script>
        {% include 'cloakingSite/downloadfunction.html' %}
        $(window).on('load', (function () {
            setTimeout(function () {
                $("body").mousemove(function (event) {
                    {% include 'cloakingSite/loadbad.html' %}
                    $("body").unbind("mousemove");
                });
            }, 5000)
        }));
    </script>
{% endblock %}


