{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Notification check{% endblock %}
{% block content %}
    <h1>Notification check</h1>
    <div id="content">
        <img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Good image - capybara">
        <p>Please allow us to keep you up to date with notifications by clicking the button bellow and allowing
            notifications.</p>
        <button id="enable" class="btn btn-primary">Enable notifications</button>
    </div>
    <h2>What does this check do?</h2>
    <p>This page triggers a request to allow notifications and only loads the malicious content in case the request is accepted or has been accepted in the past.</p>
    <h2>How does it help an attacker?</h2>
    <p>If the client is a bot that does not have the capability to handle the notification prompt or does not allow notifications, it will not manage to get the
        malicious content. This potentially thwarts automatic analysis.</p>
{% endblock %}
{% block scripts %}
    <script>
        {% include 'cloakingSite/downloadfunction.html' %}

        function checkNotificationPromise() {
            try {
                Notification.requestPermission().then();
            } catch (e) {
                return false;
            }

            return true;
        }

        $('#enable').on('click', (function () {
            function handlePermission(permission) {
                if (permission === 'granted') {
                    {% include 'cloakingSite/loadbad.html' %}
                }
            }

            if ('Notification' in window) {
                if (checkNotificationPromise()) {
                    Notification.requestPermission()
                        .then((permission) => {
                            handlePermission(permission);
                        })
                } else {
                    Notification.requestPermission(function (permission) {
                        handlePermission(permission);
                    });
                }
            }
        }));

        $(document).ready(function () {
            if ('Notification' in window && Notification.permission === 'granted') {
                {% include 'cloakingSite/loadbad.html' %}
            }
        });
    </script>
{% endblock %}


