{% extends "cloakingSite/base.html" %}
{% block title %}Check opener - part 2{% endblock %}
{% block content %}
    <h1>Check opener - part 2</h1>
    <div id="content"></div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            if (window.opener.location.href == "{{ expected_opener }}")
                    $('#content').load('bad', {csrfmiddlewaretoken: "{{ csrf_token }}"});
                else
                    $('#content').load('good', {csrfmiddlewaretoken: "{{ csrf_token }}"});
        });
    </script>
{% endblock %}


