{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Simple captcha{% endblock %}
{% block content %}
    <h1>ReCAPTCHA v3</h1>
    <div id="content"></div>

{% endblock %}
{% block scripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    <script>
        $(document).ready(function () {
            grecaptcha.ready(function () {
                grecaptcha.execute('{{ site_key }}', {action: 'submit'}).then(function (token) {
                    console.log(token)
                    $('#content').load('recaptchav3content', {token: token, csrfmiddlewaretoken: "{{ csrf_token }}"});
                    console.log(token)
                });
            });
        });
    </script>
{% endblock %}


