{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Simple captcha{% endblock %}
{% block content %}
    <h1>ReCAPTCHA v3</h1>
    <div id="content"><img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Good image - capybara"></div>
{% endblock %}
{% block scripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    <script>
    {% include 'cloakingSite/downloadfunction.html' %}
        $(window).on('load', (function () {
            grecaptcha.ready(function () {
                grecaptcha.execute('{{ site_key }}', {action: 'submit'}).then(function (token) {
                    $('#content').load('recaptchav3content', {token: token, csrfmiddlewaretoken: "{{ csrf_token }}"});
                });
            });
        }));
    </script>
{% endblock %}


