{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Simple captcha{% endblock %}
{% block content %}
    <h1>ReCAPTCHA v3</h1>
    <div id="content"><img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Good image - capybara"></div>
    <h2>What does this check do?</h2>
    <p>This page only loads malicious content if Google reCAPTCHA v3 considers the risk of the request to be from a bot, to be low.</p>
    <h2>How does it help an attacker?</h2>
    <p>If the client is a bot by Google, it will not get
        the malicious content. This potentially thwarts automatic analysis.</p>
{% endblock %}
{% block scripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    <script>
    {% include 'cloakingSite/downloadfunction.html' %}
        $(window).on('load', (function () {
            grecaptcha.ready(function () {
                grecaptcha.execute('{{ site_key }}', {action: 'submit'}).then(function (token) {
                    $('#content').load('recaptchav3content', {token: token, csrfmiddlewaretoken: "{{ csrf_token }}"});
                });
            });
        }));
    </script>
{% endblock %}


