{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Simple captcha{% endblock %}
{% block content %}
    <h1>ReCAPTCHA v2</h1>
    {% if captcha_passed is None %}
        <form action="/cloakingsite/recaptchav2" method="POST"> {% csrf_token %}
            <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}
        <div id="content"><img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Good image - capybara">
        </div>
    {% endif %}
    <h2>What does this check do?</h2>
    <p>This page only loads malicious content if the client passes the Google reCAPTCHA v2 check.</p>
    <h2>How does it help an attacker?</h2>
    <p>If the client is a bot that does not have the capability to pass the captcha check, it will not get
        the malicious content. This potentially thwarts automatic analysis.</p>
{% endblock %}
{% block scripts %}
    {% if captcha_passed is None %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% elif captcha_passed %}
        <script>
            {% include 'cloakingSite/downloadfunction.html' %}
            $(window).on('load', (function () {
                {% include 'cloakingSite/loadbad.html' %}
            }));
        </script>
    {% endif %}
{% endblock %}


