{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Geo check{% endblock %}
{% block content %}
    <h1>Geo check</h1>
    <p>This page loads 'bad' content if the referer header is 'https://www.google.com/', indicating you reached this
        site via google. Else it shows 'good' content. TEST</p>
    {% if referrer_check_passed == True or referrer_check_passed == False %}
        <p>Your referer header was set to {{ referrer }}.</p>
    {% elif referrer_check_passed == None %}
        <p>You didn't have the referer header set.</p>
    {% endif %}
    {% if referrer_check_passed %}
        <img src="{% static "images/danger.jpg" %}" class="img-fluid" alt="Responsive image">
    {% else %}
        <img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Responsive image">
    {% endif %}

{% endblock %}


