{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Referrer check{% endblock %}
{% block content %}
    <h1>Referrer check</h1>
    <p>This page loads 'bad' content if the referer header is <span class="fw-bold">https://www.google.com/</span>, indicating you reached this
        site via google. Else it shows 'good' content.</p>
    {% if referrer_check_passed == True or referrer_check_passed == False %}
        <p>Your referer header was set to <span class="fw-bold">{{ referrer }}</span>.</p>
    {% elif referrer_check_passed == None %}
        <p>You didn't have the referer header set.</p>
    {% endif %}
    {% if referrer_check_passed %}
        <img src="{% static "images/danger.jpg" %}" class="img-fluid" alt="Bad image - danger">
    {% else %}
        <img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Good image - capybara">
    {% endif %}

{% endblock %}


