{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Simple captcha{% endblock %}
{% block content %}
    <h1>Simple captcha</h1>
    {% if captcha_passed is None %}
        <form action='/cloakingsite/simplecaptcha' method='POST'> {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Submit</button>
            <button class='js-captcha-refresh btn btn-secondary'>refresh captcha</button>
        </form>
        </body>
    {% elif captcha_passed %}
        <img src="{% static "images/danger.jpg" %}" class="img-fluid" alt="Bad image - danger">
    {% else %}
        <img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Good image - capybara">
    {% endif %}
    <h2>What does this check do?</h2>
    <p>This page only loads malicious content if the captcha is submitted with the correct value.</p>
    <h2>How does it help an attacker?</h2>
    <p>If the client is a bot that does not have the capability to solve and submit the captcha check, it will not get
        the malicious content. This potentially thwarts automatic analysis.</p>
{% endblock %}
{% block scripts %}
    <script>
        $(window).on('load', (function () {
            $('.js-captcha-refresh').click(function () {
                $form = $(this).parents('form');

                $.getJSON("/captcha/refresh/", function (result) {
                    $('.captcha').attr('src', result['image_url']);
                    $('#id_captcha_0').val(result['key'])
                });

                return false;
            });
        }));
    </script>
{% endblock %}


