{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}User-Agent check{% endblock %}
{% block content %}
    <h1>User-Agent check</h1>
    <p>This page loads 'bad' content if the User-Agent header is <span class="fw-bold">Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0)
        Gecko/20100101 Firefox/89.0</span>. Else it shows 'good' content.</p>
    <p>Your User-Agent header was set to <span class="fw-bold">{{ useragent }}</span>.</p>
    {% if useragent_check_passed %}
        <img src="{% static "images/danger.jpg" %}" class="img-fluid" alt="Responsive image">
    {% else %}
        <img src="{% static "images/capybara.jpg" %}" class="img-fluid" alt="Responsive image">
    {% endif %}

{% endblock %}


