{% extends "cloakingSite/base.html" %}
{% load static %}
{% block title %}Webcam check{% endblock %}
{% block content %}
    <h1>Webcam check</h1>
    <p>This page loads 'bad' content if a webcam is detected (note that virtual devices will be detected as well).
        Else it shows 'good' content.</p>
    <div id="content"></div>
{% endblock %}
{% block scripts %}
    <script src="{% static "js/DetectRTC.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            DetectRTC.load(function () {
                if (DetectRTC.hasWebcam)
                    $('#content').load('bad', {csrfmiddlewaretoken: "{{ csrf_token }}"});
                else
                    $('#content').load('good', {csrfmiddlewaretoken: "{{ csrf_token }}"});
            });
        });
    </script>
{% endblock %}